<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["title"]</title>
</head>
<body>
    <div style= "background: blue">PHẦN HEADER</div>
    @* Chỗ nào muốn hiển thị dữ liệu thì ta thực hiên lệnh *@
    @RenderBody()


    <div style= "background: red">PHẦN FOOTER</div>
</body>
</html>