@page 

@* --> Không sử dụng nữa vì đã có file _ViewImporrs.cshtml  add cho tấc cả các file
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers   *@

<h1>TRANG DỊCH VỤ </h1>

<a asp-page= "Dichvu1">Truy cập trang dịch vụ 1</a><br>

<a asp-page= "/Sanphammoi" asp-area= "Products">Truy cập trang sản phẩm mới</a>