@* Đây là một file Partial nên nó sẽ không có chỉ thị @page, nó được chèn vào file index*@

@using XTL
@model Product

<div class = "card my-4" style = "width: 20rem">
    <h2 class = "card-header text-info">@Model.Name</h2>
    <div class = "card-body">
        <p class = "card-text">@Model.Desciptions</p>
        <p>Giá: @Model.Price</p>
        <a href = "#" class = "btn btn-secondary btn-sm">Đặt hàng</a>
    </div>
</div>